$primary-font: 'Kumbh Sans', sans-serif;

$primary-color: #3c4b1e;
$primary-color-hover: #3c4b1e;
$primary-color-light: #886443;

$secondary-color: hsl(219, 9%, 45%);
$secondary-color-darker: hsl(220, 13%, 13%);

$tertiary-color: hsl(220, 14%, 75%);
$tertiary-color-light: #886443;

$first-basic-color: #886443;
$second-basic-color: hsl(0, 0%, 0%);

$desktop-width: 1366px;